.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(80, 80, 80, 0.228);
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes notiAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  top: -8px;
  right: -8px;
  animation: notiAnimation 3s ease-in-out infinite;
}

.nav__new-info {
  position: relative;
  top: 0.5px;
  left: 17px;
}

@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  animation: appear 1s ease-in-out;
}
